/*  your css code here. If applicable */
.main:before{
	content: "Before Element ";
	color:red;
	font-weight: bold;
	font-size: 25px;
}
.main:after{
	content: " After Element";
	color:red;
	font-weight: bold;
	font-size: 25px;
}